@media {
    body {
        font-family: Georgia, serif;
        background-color: beige;
    }

    #article {
        width: 70%;
        margin: auto;
    }

    h1 {
        font-size: 50px;
    }

    #date {
        color: gray;
        font-size: smaller;
        margin-bottom: 8px;
    }

    #byline {
        font-weight: bold;
    }

    img {
        width: 100%;
    }

    #footer {
        width: 200%;
        background-color: coral;
        color: black;
        position: bottom;
        font-family: Georgia, serif;
        margin-top: 20px;
        margin-left: 0%;
        margin-bottom: -50%;
        margin-left: -8px;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 80px;
    }

    #footer {
        position: bottom;
        font-size: smaller;
    }
}
