/* styling */
body {
    font-family: Georgia, serif;
}
 #info img#headshot {
        margin: 0 auto 10px auto;
    }
/* Contact link styling */
#h1 a {
    color: gray;
    font-size: 20px;
    text-decoration: none;
    }
#date
 {
     font-weight: bold;
}

#img {
        width: 100%;

    }
/* media */
@media (max-width: 576px) {
    #info {
        width: 100%;
    }
    @media (min-width:576px){
        <h1> font-size: 80px; 
        </h1>
    }