@media (min-width:576px) {h1 {font-size: 80px} 
body { font-family: Georgia, serif; 
    
   
}
#article { width: 70px;  margin:auto; 
       
}

h1 { font-size: 50px; 
    
    
    
}

#date { color: gray; font-size: 15px; 
    
    
}

#byline { font-weight: bold; 
    
    
}

#lead { width: 100px; 
    
    
    
    }}

