@media {
    body {
        font-family: Georgia, serif;
    }

    #article {
        width: 70%;
        margin: auto;
    }

    h1 {
        font-size: 50px;
    }

    #date {
        color: gray;
        font-size: 11px;
    }

    #byline {
        font-weight: bold;
    }

    #lead {
        width: 100%;
    }

    #footer {
        width: 100%;
        background-color: darkolivegreen;
        color: beige;
        position: fixed;
        bottom: 0;
        padding: 4px;
    }

    #headshot {
        width: 30px;
        float: none;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 80px;
    }

    #headshot {
        float: left;
    }
}
